@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.min.css';
body{
	font-family: 'Marcellus', serif;

}


@media (max-width:501px){
	.logo1{
		width: 100%;
	}
	
	.logo2{
		width: 9%;
		height: 9%;
		margin-top: 8%;
	}

	.logo3{
		width: 50vw;
	}

	.x{
		width: 5vw;
	}

	.textoMenu{
		margin-top: .5rem;
		margin-bottom: .5rem;
		font-weight: 700;
		font-size: 1.5rem;
	}
	
	.menu{
		width: 8%;
		height: 8%;
		margin-top: 8%;
	}
	
	.laIsla{
		margin-top: 8%;
		margin-left: 15%;
		margin-right: 15%;
		font-family: 'Marcellus', serif;
		font-size: 2rem;
	}
	
	.flex{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.nature{
		width: 10%;
		margin-top: 5%;
		margin-left: 45%;
	}

	.product{
		width: 40%;
		margin-left: 30%;
	}

	.title{
		margin-top: .5%;
		font-weight: 700;
		font-size: 1.5rem;
	}

	.yourProducts{
		color: grey;
		width: 90%;
		align-items: center;
		margin-left: 5%;
		justify-content: center;
	}

	.honeyCumb{
		width: 10%;
		margin-left: 45%;
		margin-top: 10%;
		margin-bottom: 5%;
	}

	.check{
		width: 10%;
		height: 10%;
		margin-right: 5%;
	}
	
	.flex1{
		display: flex;
		margin-top: 1rem;
	}

	.flex2{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.miel1{
		margin-right: 12%;
		margin-left: 10%;
	}

	.ourHoney{
		color: grey;
		width: 90%;
		align-items: center;
		margin-left: 5%;
		justify-content: center;
	}

	.miel{
		background-color: #EFEAE3;
		height: 33rem;
		background-image: url(/public/images/honeyCumbPatron.png);
		padding-top: 1%;
		padding-top: 2rem;
	}

	.titleLimon{
		margin-top: 20%;
		font-weight: 700;
		font-size: 1.5rem;
	}

	.titleMiel{
		margin-top: .5%;
		font-weight: 700;
		font-size: 1.5rem;
	}

	.productosLaIsla{
		justify-content: center;
		text-align: justify;
		width: 90%;
		margin-left: 5%;
		margin-top: .5%;
		font-weight: 700;
		font-size: 1.5rem;
	}

	.son{
		color: grey;
		text-align: justify;
		width: 90%;
		margin-left: 5%;
	}

	.button{
		margin-top: 10%;
	}

	.icon{
		width: 50%;
		margin-left: 25%;
	}

	.buttonConocenos{
		background-color: #FFBB0D;
		color: white;
		border: 2px solid black;
		width: 30vw;
		height: 5vh;
		border-radius: 1rem;
		margin-top: 1rem;
	}

	.footer{
		margin-top: 2rem;
	}

	.pagos{
		background-color: #FFD361;
		align-items: center;
		height: 10rem;
	}

	.envios{
		height: 10rem;
		background-color: #FFCE50;
		align-items: center;

	}

	.entregas{
		height: 10rem;
		background-color: #FEC942;
		align-items: center;
	}

	.isla{
		height: 10rem;
		background-color: #FFC328;
		align-items: center;
	}

	.footer1{
		background-color:#FFBB0D;
	}

	.contacto{
		height: 10rem;
		background-color: #FFBB0D;
		align-items: center;

	}

	.center{
		text-align: center;
	}

	.start{
		text-align: start;
	}

	.box{
		width: 100%;
	}

	.grey{
		color: grey;
	}

	.redes{
		width: 30%;
		opacity: .5;
	}

	.redesFlex{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-right: 60%;
		margin-top: 5%;
	}

	.redesFlex1{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-right: 60%;
		margin-top: 5%;
	}

	.contact{
		width: 25%;
		opacity: .5;
	}

}