@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "react-alice-carousel/lib/alice-carousel.css";
body{
	font-family: 'Marcellus', serif;
}


@media (max-width:501px){

	.imgResponsive{
		width:45vw;
		margin-left: auto;
		margin-right: auto;
	}

	.center{
		margin-left: auto;
		margin-right: auto;
	}
	.logo1{
		width: 80vw;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
	}

	.padding{
		padding: .5em;
	}

	.width{
		width: 80vw;
	}

	.wrap{
		display: flex;
		flex-wrap: wrap;
	}

	.justify{
		text-align: justify;
	}

	.flex{
		display: flex;
	}

	.flex0{
		display: flex;
		flex-direction: row-reverse;
	}

	.text{
		width: 45%;
		text-align: justify;
		align-items: center;
		background-color: #FFBB0D;
		margin-right: 1em;
		padding: .4em;
		color: white;
	}

	.text1{
		width: 45%;
		text-align: justify;
		align-items: center;
		background-color: #FFBB0D;
		margin-left: 1em;
		padding: .4em;
		color: white;
	}
	
	.logo2{
		width: 9%;
		height: 9%;
		margin-top: 8%;
	}

	.logo3{
		width: 50vw;
	}

	.x{
		width: 5vw;
	}

	.textoMenu{
		margin-top: .5rem;
		margin-bottom: .5rem;
		font-weight: 700;
		font-size: 1.5rem;
	}
	
	.menu{
		width: 8%;
		height: 8%;
		margin-top: 8%;
	}
	
	.laIsla{
		margin-top: 8%;
		margin-left: 15%;
		margin-right: 15%;
		font-family: 'Marcellus', serif;
		font-size: 2rem;
	}
	
	.flex{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.nature{
		width: 10%;
		margin-top: 5%;
		margin-left: 45%;
	}

	.product{
		width: 40%;
		margin-left: 30%;
	}

	.title{
		margin-top: .5%;
		font-weight: 700;
		font-size: 2rem;
		text-align: center;
	}

	.title1{
		font-size: 2rem;
		font-weight: 700;
	}
	
	.title2{
		margin-top: .5%;
		font-weight: 700;
		font-size: 2rem;
		text-align: center;
		width: 28vw;
	}

	.title3{
		margin-top: .5%;
		font-weight: 700;
		font-size: 2rem;
		text-align: center;
		width: 60vw;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2rem;
	}

	.subtitle{
		font-weight: 600;
		font-size: 1.2rem;
	}

	.subtitle1{
		font-weight: 600;
		font-size: 1.2rem;
		text-align: start;
	}

	.yourProducts{
		color: grey;
		width: 90%;
		align-items: center;
		margin-left: 5%;
		justify-content: center;
	}

	.honeyCumb{
		width: 10%;
		margin-left: 45%;
		margin-top: 10%;
		margin-bottom: 5%;
	}

	.honeyCumb1{
		width: 10vw;
		margin-right: 1rem;
	}


	.check{
		width: 10%;
		height: 10%;
		margin-right: 5%;
	}
	
	.flex1{
		display: flex;
		margin-top: 1rem;
	}

	.flex2{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.flex3{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		margin-left: auto;
		margin-right: auto;
	}

	.flex4{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width:30vw;
	}

	.label{
		display: flex;
		flex-direction: column;
		text-align: start;
	}

	.flex41{
		display: flex;
		flex-direction: column;
		width: 50vw;
	}

	.buttonEnviar{
		background: #FFBB0D;
		color: white;
		font-size: 2rem;
		font-weight: 900;
		border-radius: .5rem;
		width: 30vw;
	}

	.input{
		margin: 2px solid black !important;
		border-radius: .3rem;
		margin-bottom: 1rem;
		height: 7vh;
		width: 100% !important;
	}

	.miel1{
		margin-right: 12%;
		margin-left: 10%;
	}

	.mt{
		margin-top: 2rem;
	}

	.mb{
		margin-bottom: 2rem;
	}

	.dejanos{
		width: 90vw;
		text-align: center;
	}

	.pt{
		padding-top: 2rem;
	}

	.ourHoney{
		color: grey;
		width: 90%;
		align-items: center;
		margin-left: 5%;
		justify-content: center;
	}

	.swiper-button-next,
	.swiper-button-prev{
		color:#FEC942 !important
	}
	
		/* Cambia el color de todos los círculos */
	.swiper-pagination-bullet {
		background: #ffb700 !important;  /* El color que desees */
	}

	/* Cambia el color del círculo del slide activo */
	.swiper-pagination-bullet-active {
		background: #cd9300 !important;  /* El color que desees */
	}

	.custom-swiper{
		bottom: 2rem;
		height: 35vh;
		margin-top: 5rem ;
	}

	.marginl{
		margin-left: auto;
	}

	.marginr{
		margin-right: auto;
	}

	.marginb{
		margin-bottom: 2rem;
	}

	.marginb1{
		margin-bottom: 3rem;
	}

	.miel{
		background-color: #EFEAE3;
		height: 33rem;
		background-image: url(/public/images/honeyCumbPatron.png);
		padding-top: 1%;
		padding-top: 2rem;
	}

	.contacto{
		background-color: #FFBB0D;
	}


	.hr{
		background-color:#FFD361 ;
		height: .5vh;
		border: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.png{
		width: 30vw;
	}

	.png1{
		width: 15vw;
	}

	.titleLimon{
		margin-top: 20%;
		font-weight: 700;
		font-size: 1.5rem;
	}

	.titleMiel{
		margin-top: .5%;
		font-weight: 700;
		font-size: 1.5rem;
	}

	.productosLaIsla{
		justify-content: center;
		text-align: justify;
		width: 90%;
		margin-left: 5%;
		margin-top: .5%;
		font-weight: 700;
		font-size: 1.5rem;
	}

	.buttonAgregar{
		background-color: black;
		color: white;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		height: 3.5rem;
		font-size: 1.5rem;
		font-weight: 700;
	}

	.productos{
		background-color: #FFD361;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.pngProductos{
		width: 40vw;
	}

	.boxProductos{
		background-color: white;
		width: 80vw;
		height: 60vh;
		padding: 1rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5rem;
		position: relative;
		box-shadow: 1.5rem 1.5rem rgba(60, 77, 47, 0.8);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.boxProductos1{
		background-color: white;
		width: 80vw;
		height: 60vh;
		padding: 1rem;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		box-shadow: 1.5rem 1.5rem rgba(60, 77, 47, 0.8);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.column{
		display: flex;
		flex-direction: column;
	}

	.son{
		color: grey;
		text-align: justify;
		width: 90%;
		margin-left: 5%;
	}

	.button{
		margin-top: 10%;
	}

	.carrito{
		width: 5vw;
	}

	.tienda-online{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.button1{
		margin-top: 10%;
		color: white;
		background-color: black;
		width: 25vw;
		font-size: 1rem;
		height: 10vh;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
		border-radius: 1rem;
	}

	.icon{
		width: 50%;
		margin-left: 25%;
	}

	.buttonConocenos{
		background-color: #FFBB0D;
		color: white;
		border: 2px solid black;
		width: 30vw;
		height: 5vh;
		border-radius: 1rem;
		margin-top: 1rem;
	}

	.footer{
	}


	.pagos{
		background-color: #FFD361;
		align-items: center;
		height: 10rem;
	}

	.envios{
		height: 10rem;
		background-color: #FFCE50;
		align-items: center;

	}

	.entregas{
		height: 10rem;
		background-color: #FEC942;
		align-items: center;
	}

	.isla{
		height: 10rem;
		background-color: #FFC328;
		align-items: center;
	}

	.footer1{
		background-color:#FFBB0D;
	}

	.contac{
		background-color: #ffffff;
		align-items: center;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 1.5rem 1.5rem rgba(60, 77, 47, 0.8);
	}

	.center{
		text-align: center;
	}

	.center1{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.input{
		border: 2px solid black;
		width: 80%;
	}

	.input1{
		border: 2px solid black;
		border-radius: .5rem;
		width: 100%;
		height: 10rem;
	}

	.enviar{
		color: white;
		background-color: #FFBB0D;
	}

	.cuentanos{
		height: 20vh;
	}

	.start{
		text-align: start;
	}

	.box{
		width: 100%;
	}

	.box1{
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 2rem;
		border-radius: .5rem;
		border: 2px solid black;
		width: 45vw;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
	}

	.price{
		font-weight: 900;
	}

	.grey{
		color: grey;
	}

	.redes{
		width: 30%;
		opacity: .5;
	}

	.redesFlex{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-right: 60%;
		margin-top: 5%;
	}

	.redesFlex1{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-right: 60%;
		margin-top: 5%;
	}

	.contact{
		width: 25%;
		opacity: .5;
	}

	.margint{
		margin-top: 1.5rem;
	}

}